<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="10" />
  <title>Data Dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>
<body>
<div style="display: block">
  <h1>Chart.js Sample</h1>
  <div style="width: 48%; height: 40%;display: inline-block;">
  	<canvas id="countries"></canvas>
  </div>
  <div style="width: 48%; height: 40%;display: inline-block;">
  	<canvas id="pie"></canvas>
  </div>
  <div style="width: 48%; height: 40%;display: inline-block;">
  	<canvas id="bar"></canvas>
  </div>
  <div style="width: 48%; height: 40%;display: inline-block;">
  	<canvas id="line"></canvas>
  </div>
    <button id="red">Red</button>
    {% load staticfiles %}
    <script>
      var value1 = {{ greaterThan100 }};
      var value2 = {{ lessThan100 }};
      var value3 = 0;
      var value4 = 0;
      var value5 = 0;
      var value6 = 0;

      function OnRedClick () {
         myChart.data.datasets[0].data[0] += 1;
         myChart.update();
      }

      function update () {
        myChart.data.datasets[0].data[0] = {{ greaterThan100 }};
        myChart.data.datasets[0].data[1] = {{ lessThan100 }};
        myChart.update();

        pieChart.data.datasets[0].data[0] = {{ greaterThan100 }};
        pieChart.data.datasets[0].data[1] = {{ lessThan100 }};
        pieChart.update();

       	barChart.data.datasets[0].data[0] = {{ greaterThan100 }};
        barChart.data.datasets[0].data[1] = {{ lessThan100 }};
        barChart.update();

        lineChart.data.datasets[0].data[0] = {{ greaterThan100 }};
        lineChart.data.datasets[0].data[1] = {{ lessThan100 }};
        lineChart.update();
      }
      var ctx = document.getElementById("countries");
      var redButton = document.getElementById("red");
      if (redButton.addEventListener) {   // all browsers except IE before version 9
         redButton.addEventListener ("click", OnRedClick, false);
      }
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [{
            label: '# of Votes',
            data: [value1, value2, value3, value4, value5, value6],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 2
          }]
        },
        options: {
          legend: {
            display: true,
          },
          title: {
            display: true,
            text: 'Number of Votes'
          }

        }
      });

      var ctf = document.getElementById("pie");
      var pieChart = new Chart(ctf, {
        type: 'pie',
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [{
            label: '# of Votes',
            data: [value1, value2, value3, value4, value5, value6],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 2
          }]
        },
        options: {
          legend: {
            display: true,
          },
          title: {
            display: true,
            text: 'Number of Votes'
          }

        }
      });

      var cty = document.getElementById("bar");
      var redButton = document.getElementById("red");
      if (redButton.addEventListener) {   // all browsers except IE before version 9
         redButton.addEventListener ("click", OnRedClick, false);
      }
      var barChart = new Chart(cty, {
        type: 'bar',
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [{
            label: '# of Votes',
            data: [value1, value2, value3, value4, value5, value6],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 2
          }]
        },
        options: {
          legend: {
            display: true,
          },
          title: {
            display: true,
            text: 'Number of Votes'
          }

        }
      });

      var ctz = document.getElementById("line");
      var redButton = document.getElementById("red");
      if (redButton.addEventListener) {   // all browsers except IE before version 9
         redButton.addEventListener ("click", OnRedClick, false);
      }
      var lineChart = new Chart(ctz, {
        type: 'line',
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [{
            label: '# of Votes',
            data: [value1, value2, value3, value4, value5, value6],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 2
          }]
        },
        options: {
          legend: {
            display: true,
          },
          title: {
            display: true,
            text: 'Number of Votes'
          }

        }
      });
    </script>
</div>
</body>
</html>